* { 
    text-align: center;
    
}

body {
    font-family: 'Khand', sans-serif;
    background-color: #c0c0c0;
    }
      
    
h1 {
    font-family: 'Khand', sans-serif;
    color: rgb(0, 0, 0); 
    text-align: center
}

div {
    
    margin: auto;

 }

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Khand', sans-serif;
}

ul {
    text-align: center;
    list-style-position: inside;

}

ol {
    text-align: center;
    list-style-position: inside;
}
